<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/profile.png" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <title> Home </title>
</head>
<body>

    <div class="cont">
        <div class="info">
            <h2>Welcome,
                <% if(user.provider === "github") { %>
                    <%= user.givenName %>
                <% } else{ %> 
                    <% if(user.provider === "google") { %>
                        <%= user.name.givenName %>
                    <% } else { %>
                        <%= user.name %>
                        <% } %>
                <% } %>
            </h2>
            <a href="/logout">Logout</a>
        </div>
        <div class="body">
            <div class="p-info">
                <div class="title">Personal Info</div>
                <ul>
                    <li>Name: 
                        <% if(user.provider === "github") { %>
                            <%= user.givenName %>
                        <% } else{ %> 
                            <% if(user.provider === "google") { %>
                                <%= user.name.givenName %>
                            <% } else { %>
                                <%= user.name %>
                                <% } %>
                        <% } %>
                    </li>
                    <li>Username: 
                        <% if(user.provider === "github") { %>
                            <%= user.givenName %>
                        <% } else{ %> 
                            <% if(user.provider === "google") { %>
                                <%= user.emails[0].value %>
                            <% } else { %>
                                <%= user.username %>
                                <% } %>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>